# Environments and Secrets
.env
venv/
env/
__pycache__/

# Next.js and Node.js
frontend/.next/
frontend/node_modules/
frontend/out/
frontend_build/
node_modules/

# Logs and Outputs
logs/
outputs/

# Runtime databases
schedules.db
*.db